.login-container {
    width: 800px;
    padding: 20px;
    background: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
    margin-left: 600px;
    margin-top: 150px;
}

/* Header Styles */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #e9ecef;
}

.logo {
    width: 100px;
    height: auto;
}

.secure-server {
    display: flex;
    align-items: center;
    background-color: #20c997;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
    margin-right: 20px;
}

.secure-server i {
    margin-right: 5px;
}

/* Login Content Styles */
.login-content h2 {
    color: #20c997;
    font-size: 28px;
    margin-left: -250px;
}

.login-content p {
    font-size: 18px;
    color: #6c757d;
    margin-left: -180px;
}

.login-content form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
    width: 100%;
}

.form-group-wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 15px;
}

.form-group {
    display: flex;
    flex-direction: column;
    width: 48%;
}

.login-content form label {
    text-align: left;
    font-size: 14px;
    margin-bottom: 5px;
    color: #6c757d;
}

.login-content form input {
    padding: 10px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    font-size: 16px;
    width: 100%;
    background-color: white;
border-color: #20c997;
  
}
.login-content form input:hover {
    border-radius: 2px solid pink;
      background-color: white;
  }
  

.login-content form button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #ff486c;
    color: white;
    cursor: pointer;
   
    width: 400px;
    border-radius: 16px;
}

.login-content form button:hover {
    background-color: #ca7082;
}


.login-links {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
   
}

.login-links a {
    color: #ff486c;
    text-decoration: none;
    font-size: 20px;
}

.login-links a:hover {
    text-decoration: underline;
}
